
body{
	background-color: rgba(3, 85, 65, 0.8);
}

.spacing{
	height: 100px;
	
	width: 100px;
}

.spacing-small{
	height: 30px;
	width: auto;
}

.container_margin{
	margin-bottom: 5%;
}

/*==================== HOME ====================*/

.content{
	margin-top: -33%;
}

.home-background{
	background-color: rgba(3, 85, 65, 0.7);
	color: white;
}

.main_img{
	margin-top:0;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.divider{
	width: 30%;
}

.divider_center{
	margin-left: 35.2%;
}


/*==================== MENU ====================*/

.navbar-light {
    background-color: rgba(255, 255, 255, 0.0);
}

.margin-brand {
  margin-left: 10%;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 1);
}

.navbar-nav .nav-link:hover {
    color: #FF8D29 !important;
}

/*==================== ABOUT ====================*/

hr.rounded {
  border-top: 4px solid #bbb;
  border-radius: 5px;
}


.about_container{
    width: 100%;
	height: 400px;
    position: relative;
    }
	

.about_img{
	width: 70%;
	height: 83%;
	margin-left: 31.5%;
}


.about_textbox{
	background-color: #B0654C !important;
	margin-top: -67.3%;
	z-index:12;
	color:white;
	position: relative;
}

.btn-primary{
	background-color: white;
	border-color: white;
	color: rgba(3, 85, 65,1);
}

.btn-primary:hover {
	color: white;
	border-color: white;
	background-color: rgba(3, 85, 65,1);
}

/*==================== IMG-SLIDER ====================*/

.slide_img{
	width:100%;
	height: auto;
}

.plants{
	margin-bottom: 12%;
}

.slider-background{
	background-color: black;
}

/*==================== SERVICES ====================*/

.service_img{
	width: 100%;
	height: auto;
}

.services_imagebox{
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.services-background{
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}



/*==================== FOOTER ====================*/

.site-footer
{
	background-color: rgba(0, 0, 0, 0.5);
	padding:45px 0 20px;
	font-size:15px;
	line-height:24px;
	color:#737373;
}
.site-footer hr
{
	border-top-color:#bbb;
	opacity:0.5
}
.site-footer hr.small
{
	margin:20px 0
}
.site-footer h6
{
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
	margin-top:5px;
	letter-spacing:2px
}
.site-footer a
{
	color:#737373;
}
.site-footer a:hover
{
	color:#3366cc;
	text-decoration:none;
}

.site-footer .social-icons
{
	text-align:right
}
.site-footer .social-icons a
{
	width:40px;
	height:40px;
	line-height:40px;
	margin-left:6px;
	margin-right:0;
	border-radius:100%;
	background-color:#33353d
}


@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
	padding-left:0;
	margin-bottom:0;
	list-style:none
}
.social-icons li
{
	display:inline-block;
	margin-bottom:4px
}

.social-icons a{
	background-color: white;
	color:white;
	font-size:16px;
	display:inline-block;
	line-height:44px;
	width:44px;
	height:44px;
	text-align:center;
	margin-right:8px;
	border-radius:100%;
	-webkit-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
	color:#fff;
	background-color: white;
}
.social-icons.size-sm a
{
	line-height:34px;
	height:34px;
	width:34px;
	font-size:14px
}
.social-icons a.facebook:hover
{
	background-color:#3b5998;
}
.social-icons a.twitter:hover
{
	background-color:#00aced;
}
.social-icons a.linkedin:hover
{
	background-color:#007bb6;
}
.social-icons a.dribbble:hover
{
	background-color:#ea4c89;
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


@media screen and (max-width: 1200px){
	
	.about_img{
		display: none;
	}
	
	.about_textbox{
		margin-top: 0%;
	}
	
	.img_greenplant{
		background-image: url("../img/plant.png");
	}
}


@media screen and (max-width: 610px){
	
	.about_textbox{
		margin-top: 0%;
		z-index: 0;
	}
}